*
{
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.romana
{
	width: 50vw;
	height: 100vh;
	background: black;
	text-align: center;
	font-size: 40px;
}

.mate
{
	width: 50vw;
	height: 100vh;
	background: red;
	text-align: center;
	font-size: 40px;
}

.flex-container
{
	display: flex;
}

.romana h1
{
	position: absolute;
	top: 50%;
	transform: translate(0% , -50%);
	width: 50%;
}

.mate h1
{
	position: absolute;
	top: 50%;
	transform: translate(0% , -50%);
	width: 50%;
}

.white
{
	color: white;
}

.yellow
{
	color: yellow;
}

.s
{
	width: 100vw;
	height: 32.9vh;
	background: #42a7f5;
	border: 0.3vh solid cyan;
	text-align: center;
	font-size: 2vw;
	
}

.s h1
{
	line-height: 32.9vh;
	color: white;
	text-shadow: 2px 2px 3px black;
}

.sr
{
	overflow: hidden;
}

.matrice
{
	display: flex;
	box-shadow: 2px 2px 5px black;
	padding: 30px;
}

.element
{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	font-size: 30px;
	background: grey;
}

.determinant
{
	margin: 2vh 2vw;
	font-size: 2vw;
	border: 1px solid black;
	background: grey;
}